$white: #fff;
$black: #000;
$header-height: 100px;
$distance: 20px;
$fw-bold: 600;
$fw-regular: 400;
$zindex-mh: 100000000;
$first-bg-color: #FFB233;

body {
    background-color: $white;
    font-family: 'Space Mono', monospace;
}

ul, a{
    list-style: none;
    text-decoration: none;
    color: $black;
}


.main-header{
    transform: translateY(10px);
    position: sticky;
    top: 0;
    z-index: $zindex-mh;
    padding: $distance;
    display: flex;
    height: $header-height;  
    border: 1px solid $black;
    background-color: $first-bg-color;

    &__title{
        margin:auto 0;
    }
    nav{
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &__nav{
        list-style: none;
        margin: auto 0;
        display: flex;
        gap: 20px;
        &__item{
            &.active{
                text-decoration: underline;
            }
        }
        &__link{
            text-decoration:none;
        }
    }
}

.main-content {
    border: 1px solid $black;
    margin: 100px $distance 0;
    
    .product{
        &:hover{
            transform: translateY(-2px);
        }
        &__title{
            text-align: center;
        }
        &__list{
            display: flex;
            flex-wrap: wrap-reverse;
            gap: $distance;
            margin-top: 30px;
            justify-content: center;
        }
        
        &__name{
            text-transform: capitalize;
            font-weight: $fw-bold;
            margin-top: 5px;
        }
        
        &__price{
            margin-top: 5px;
        }
        
        &__image{
            border-radius: 10px;
        }
    }
}

.main-footer{
    border: 1px solid $black;
    text-align:center;
    margin-top:100px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(2,400px);
    gap: 75px;
    justify-content: center;
    margin-top:100px;
}

.product__info{
    
    &__title{
        font-weight: $fw-regular;
        text-transform: capitalize;
        font-size: 28px;
        margin-top: $distance;
    }
    
    &__price{
        font-weight: $fw-bold;
        font-size: 32px;
        margin-top: $distance;
    }
    &__dif{
        display: flex;
        gap: $distance;
        margin-top: $distance;
    }
    &__state, &__category{
        border: 1px solid aqua;
        padding: 10px;
        border-radius: 15px;
        background-color: aqua;
        color: $white;
    }
    &__description{
        margin-top: 40px;
    }
    &__toDo{
        display:flex;
        gap: $distance;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__edit, &__delete{
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
    &__back{
        width:875px;
        display:flex;
        margin: $distance auto 0;
        &:hover{
            opacity: 0.7;
        }
    }
}

.form{
    display: grid;
    margin: 50px auto 0;
    max-width: 670px;
    border: 1px solid $black;
    padding: 40px $distance;
    background-color: $white;
    border-radius: 10px;

    &__title{
        text-align: center;
    }

    &__item{
        display: flex;
        flex-direction: column;
        margin-top: $distance;
    }
    &__label{
        font-weight: $fw-bold;
        margin-bottom: 5px;
    }
    &__select{
        display: flex;
        gap: $distance;
        justify-content: space-between;
    }

    #update-form &{
        margin: 30px auto 0;
    }
}

select{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    max-width: 100%;
}

input, textarea {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    max-width: 96.5%;
}

.submit{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

footer{
    background-color: $first-bg-color;
    #create-form &, #update-form &{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

.search-wrapper{
    max-width: 1240px;
    margin: 25px auto 0;

    .scroll-down &{
        position: sticky;
        top: 0;
        z-index: $zindex-mh;
        transform: translateY(160px);
    }
    #searchbox{
        border: 1px solid #000;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
    }
}

.error{
    border: 1px solid red;
}

.alert-success{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 200px;
    padding: 30px;
    border: 1px solid black;
}
  